<div class="card" style="width: 18rem;">
  <img src="{{image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <div class="priceValue">{{price}}</div>
    <div class="ratingContainer" id="rating_{{index}}"></div> <br>
    <div class="row">
        <div class="col">
            <a href="#" class="btn btn-primary btn-sm">Add to cart</a>
        </div>
        <div class="col">
            <a href="#" class="btn btn-primary btn-sm" onclick="loadMoreDetailsPage({{id}})">More details</a>
        </div>
    </div>
    
  </div>
</div>