

.addNewProductDetails {
    ul {
        margin: 20px auto;
        padding: 10px;
        width: 900px;
    }
    li {
        list-style: none;
        border: 1px solid orange;
        margin: 15px;
        padding: 10px;
    }

    .title {
        font-weight: bold;
        text-align: center;

        
    }

    #msgBlock {
        display: none;
        text-align: center;
        color: green;
        font-size: 20px;
    }
}

