.chatBox {
    border: 1px solid orange;
    width: 450px;
    height: 500px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.msgBlock {
    height: 400px;
    overflow: auto;
}

.sendMsg {
    color: peru;
    font-weight: bold;
    text-align: left;
    margin: 8px;
}

.receiveMsg {
    text-align: right;
    color: blueviolet;
    font-weight: bold;
    margin: 8px;
}