h3 {
    text-align: center;
    color: gray;
    border: 2px solid;
    padding: 10px;
}

ul {
    width: 700px;
    margin: 10px auto;
    padding: 10px;
    background-color: #ccc;
}

li {
    list-style: none;
    border: 1px solid;
    margin: 10px;
    background-color: #fff;
    padding: 10px;
}

.marksContainer > input {
    width: 60px;
}

.title {
    text-align: center;
    font-weight: bold;
    color: green;
}